.page-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.__se {
    &-options-body {
        background: black;
        color: white;
    }

    &-options-heading {
        font-family: 'GetVoIP Grotesque Regular';
        display: flex;
        width: 100%;
        height: 48px;
        justify-content: space-between;
    }

    &-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        color: black;
        height: 140px;
        overflow: hidden;
        box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.30);
        border-radius: 9px;
        margin-bottom: -48px;
        transform: perspective(20px) rotateX(-1.5deg) scale(0.8);
        cursor: pointer;

        &-body {
            padding: 24px 36px 0;
                            &-description {
                    margin: 10px 0 0 36px;
                }

            &-main {
                display: flex;
                flex-direction: column;

                &-title.__se-title {
                    font-size: 48px;
                    text-align: center;
                    margin-bottom: 18px !important;
                }
            }

            &-description {
                text-align: left;
                position: relative;
                width: 100px;
                display: block;
                text-transform: none;
                font-family: $ff-default;
                letter-spacing: 0px;
                font-size: 12px;
                color: #000000;
                font-weight: 100;

                &:before {
                    content: "—";
                    position: absolute;
                    font-weight: 600;
                    left: -20px;
                    top: -2px;
                }
            }
        }


        h2 {
            font-family: 'GetVoIP Grotesque Regular';
            margin: 12px 0;
            display: block;
            padding: 8px 0 12px;
            color: black;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgba(black, .4);
        }

        &#settings {}

        &#rating {
            background: #92FFB3;
        }

        &#analytics {
            background: #48C7FF;
        }


        &-open {
            overflow: visible;
            position: absolute;
            top: 280px;
            width: 800px;
            cursor: inherit;
            transform: rotateX(0);
            border-radius: 6px;
            min-height: 100vh;
            order: 4 !important;
            transform: perspective(0) rotateX(0) scale(1);
            z-index: 10;
            transition: 1s;
            height: auto;
        }

        &-settings {
            text-align: center;
            .__se-title {
                margin: 48px 0 0px;
            }
            &-allowed-time {
                label {
                    font-size: 14px;
                    margin-right: 18px;
                }
            }

            &-bad-sites {
                margin: 18px 0;

                &-pseudoTextArea {
                    background: #FF0000;
                    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.50);
                    border: 0px;
                    border-radius: 10px;
                    font-size: 24px;
                    font-weight: 200;
                    height: 400px;
                    width: 640px;
                    display: flex;
                    align-items: flex-start;
                    padding: 24px;

                    &-stoplist {
                        display: flex;

                        img {
                            margin-right: 20px;
                            width: 80px;
                            height: 80px;
                            background-color: white;
                            box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.20);
                            border-radius: 10px;
                            &:hover {
                                opacity: .5;
                                transform: scale(.9);
                                transition: .4s;
                                cursor: pointer;
                            }
                        }
                    }

                    input {
                        height: fit-content;
                        border: 0px;
                        font-size: 48px;
                        color: white;
                        background: none;
                        font-weight: 200;
                        margin-top: 9px;
                        width: auto;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        &-analytics {
            margin: 0 0 120px -24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .__se-svm {
                display: flex;


                svg {
                    transform: scale(1.8);
                    transform-origin: 0% 0%;
                }
            }

            .__se-todays-left {
                display: flex;
                margin: 24px 0 88px 24px;
                svg {
                    transform: scale(1.2);
                    transform-origin: 0% 0%;
                }

            }

            .__se-counter {
                margin: 180px 0 120px;
                &-value {
                    span {
                        font-size: 32px;
                    }
                }
            }

            .__se-tesla {
                display: flex;
                align-items: flex-end;
                img {
                    width: 360px;
                }

                span {
                    display: block;
                    position: relative;
                    line-height: 1.5;
                    margin: 0 0 0 36px;
                    text-align: left;
                }
            }

        }
    }
}