body {
    min-height: 240px;
    background-color: $blue;
    margin: 0;
    padding: 18px 32px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.__se-settings-icon {
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
