.__se-sticker {
  position: fixed;
  z-index: 1000000;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Helvetica Nueu';
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 300ms;
}

.__se-sticker.visible {
  opacity: 1;
}

.__se-sprite {
  position: fixed;
  z-index: 1000001;
  width: 200px;
  height: 293px;
  bottom: 10px;
  left: 30px;
  background-repeat: no-repeat;
  -webkit-animation: serf 1.8s steps(24) infinite;
  -moz-animation: serf 1.8s steps(24) infinite;
  -ms-animation: serf 1.8s steps(24) infinite;
  -o-animation: serf 1.8s steps(24) infinite;
  animation: serf 1.8s steps(24) infinite;
  transition: opacity 400ms;
}

.__se-sprite.hidden {
  opacity: 0;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

@-webkit-keyframes serf {
  from { background-position:  0%; }
  to { background-position: -4800px; }
}
@-moz-keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
@-ms-keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
@-o-keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
@keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
