.__se-sticker {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000000;
  bottom: 200px;
  left: 160px;
  width: 120px;
  border-radius: 50%;
  padding: 20px;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 300ms;
}

.__se-sticker.visible {
  opacity: 1;
}

.__se-sprite {
  position: fixed;
  z-index: 1000001;
  width: 200px;
  bottom: 30px;
  left: 30px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: opacity 400ms;
}

.__se-sprite-happy,
.__se-sprite-happy-talk,
.__se-sprite-sad,
.__se-sprite-sad-talk {
  height: 191px;
}

.__se-sprite-happy-transition,
.__se-sprite-conserned,
.__se-sprite-concerned-talk,
.__se-sprite-concerned-transition {
  height: 188px;
}

.__se-sprite-sad-transition {
  height: 250px;
}

.__se-sprite-shark {
  height: 201px;
}

.__se-sprite-happy,
.__se-sprite-happy-talk,
.__se-sprite-conserned,
.__se-sprite-concerned-talk,
.__se-sprite-sad,
.__se-sprite-sad-talk,
.__se-sprite-shark {
  -webkit-animation: serf 1s steps(24) infinite;
  -moz-animation: serf 1s steps(24) infinite;
  -ms-animation: serf 1s steps(24) infinite;
  -o-animation: serf 1s steps(24) infinite;
  animation: serf 1s steps(24) infinite;
}

.__se-sprite-happy-transition,
.__se-sprite-concerned-transition {
  -webkit-animation: serf-transition 1s steps(21) infinite;
  -moz-animation: serf-transition 1s steps(21) infinite;
  -ms-animation: serf-transition 1s steps(21) infinite;
  -o-animation: serf-transition 1s steps(21) infinite;
  animation: serf-transition 1s steps(21) infinite;
}

.__se-sprite-sad-transition {
  -webkit-animation: serf-transition-long 2s steps(49) infinite;
  -moz-animation: serf-transition-long 2s steps(49) infinite;
  -ms-animation: serf-transition-long 2s steps(49) infinite;
  -o-animation: serf-transition-long 2s steps(49) infinite;
  animation: serf-transition-long 2s steps(49) infinite;
}

.__se-sprite.hidden {
  opacity: 0;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

@-webkit-keyframes serf {
  from { background-position:  0%; }
  to { background-position: -4800px; }
}
@-moz-keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
@-ms-keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
@-o-keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}
@keyframes serf {
  from { background-position:  0px; }
  to { background-position: -4800px; }
}

@-webkit-keyframes serf-transition {
  from { background-position:  0%; }
  to { background-position: -4200px; }
}
@-moz-keyframes serf-transition {
  from { background-position:  0px; }
  to { background-position: -4200px; }
}
@-ms-keyframes serf-transition {
  from { background-position:  0px; }
  to { background-position: -4200px; }
}
@-o-keyframes serf-transition {
  from { background-position:  0px; }
  to { background-position: -4200px; }
}
@keyframes serf-transition {
  from { background-position:  0px; }
  to { background-position: -4200px; }
}

@-webkit-keyframes serf-transition-long {
  from { background-position:  0%; }
  to { background-position: -9800px; }
}
@-moz-keyframes serf-transition-long {
  from { background-position:  0px; }
  to { background-position: -9800px; }
}
@-ms-keyframes serf-transition-long {
  from { background-position:  0px; }
  to { background-position: -9800px; }
}
@-o-keyframes serf-transition-long {
  from { background-position:  0px; }
  to { background-position: -9800px; }
}
@keyframes serf-transition-long {
  from { background-position:  0px; }
  to { background-position: -9800px; }
}
